.text-field {
    -fx-background-color: transparent;
    -fx-font-family: "Smythe";
    -fx-font-size: 1em;
    -fx-text-fill: black;
}

.button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-fx-opacity: 0.7;
}
